.disraptor-page #main {
  height: 100%;
}

.disraptor-page #main-outlet {
  max-width: initial;
}

.disraptor-page #main-outlet.wrap {
  padding-right: 0;
  padding-left: 0;
}

.disraptor-content {
  position: absolute;
  top: 4.2857em;
  right: 0;
  bottom: 0;
  left: 0;
}
