.disraptor-page body,
.disraptor-page #main,
.disraptor-page #main > div,
.disraptor-page .disraptor-content {
  height: 100% !important;
}

/*
1. Account for Discourse’s header height in legacy rendering mode.
*/
.disraptor-page #main-outlet {
  max-width: none;
  height: calc(100% - 4.2857em - 3px) !important; [> 1. <]
//  padding-top: calc(4.2857em + 3px); [> 1. <]
}

/*
1. Account for Discourse’s header height in shadow DOM rendering mode.
*/
.disraptor-page.disraptor-uses-shadow-dom #main-outlet {
//  height: calc(100% - 4em) !important; [> 1. <]
  padding-top: 4em; /* 1. */
}

.disraptor-page #main-outlet.wrap {
  padding-right: 0;
  padding-left: 0;
}

.disraptor-page.desktop-view .menu-panel.slide-in {
  position: absolute;
  top: 100% !important; /* Override inline styles */
  right: -8px;
}

.disraptor-page #user-card:not(.show),
.disraptor-page #group-card:not(.show) {
  display: none;
}
