/*
1. Account for Discourse’s header height in legacy rendering mode.
*/
.disraptor-page #main-outlet {
  max-width: none;
  overflow-y: auto;
  padding-top: 0;
}

.disraptor-page #main-outlet-wrapper {
  max-width: none;
  height: inherit;
}

/*
1. Account for Discourse’s header height in shadow DOM rendering mode.
*/
.disraptor-page.disraptor-uses-shadow-dom #main-outlet {
  height: calc(100% - 4em) !important; // [> 1. <]
//  padding-top: 4em; /* 1. */
  padding-top: 0;
}

.disraptor-page #main-outlet.wrap {
  padding-right: 0;
  padding-left: 0;
}

.disraptor-page.desktop-view .menu-panel.slide-in {
  position: absolute;
  top: 100% !important; /* Override inline styles */
  right: -8px;
}

.disraptor-page #user-card:not(.show),
.disraptor-page #group-card:not(.show) {
  display: none;
}
