.btn:focus {
  box-shadow: shadow("focus");
}

.btn-danger:focus {
  box-shadow: shadow("focus-danger");
}

.dr-new-route {
  margin-bottom: 20px;
}

.dr-new-route__inputs {
  display: flex;
  align-items: flex-end;
  margin-bottom: 9px;
}

.dr-new-route__inputs > :not(:last-child) {
  margin-right: 5px;
}

.dr-text-field {
  margin-bottom: 0;
}

.dr-text-field__label {
  display: block;
  margin-bottom: 5px;
}

/* Overqualify the selector in order to have higher specificity that Discourse’s default styles. */
input.dr-text-field__control {
  margin-bottom: 0;
}

input.dr-text-field__control:required:invalid,
input.dr-checkbox__control:required:invalid {
  box-shadow: none;
}

.dr-routes-table {
  table-layout: fixed;
}

.dr-align-right {
  text-align: right;
}

.dr-warning {
  padding: 6px 12px;
  background-color: $highlight-low;
}

.dr-warning::before {
  content: "\2f" "\21" "\5c" "\a0";
}
